
<h3> New Contact! </h3>
<div class='form'>
  <%= form_for @contact do |f| %>
  	<p>Name: <%= f.text_field :name %> </p>
  	<p>Phone: <%= f.text_field :phone %></p>
  	<p><%= submit_tag "Add Contact" %></p>
  <% end %>