<!DOCTYPE html>
<html>
<head>
  <title>Businesstime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> This List is Incredibly Gangster and Gives No Fucks. <br> <br>Like Ke$ha. </h1>

<%= yield %>

</body>
</html>
